<h1>Welcome, <%=current_user.username%> </h1>
<h3> Tweets </h3>
<% @tweets.each do |tweet| %> 
    <li><%=tweet.content%></li>
<%end%>
<br>
<br>
<a class="button" href="/tweets/new">Create a New Tweet</a>
<br>
<br>
<a class="button" href="/logout">Logout</a>